<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.ukrlit6"
        versionCode = "10" 
        version     = "1.0.0" >

    <name>Українська література. 6 клас</name>

    <description>
        Електронний посібник з української літератури. 6 клас
    </description>

    <author href="http://ladschool.ucoz.ua/" email="ladschool@gmail.com">
        Ладигівська навчально-виховний комплекс 
    </author>

    <preference name="permissions" value="none"/>

    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="landscape" />
    <preference name="target-device" value="tablet" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />

    <feature name="http://api.phonegap.com/1.0/network"/>

    <icon src="img/favicon-192x192.png" gap:platform="android" gap:density="ldpi" />
    <icon src="img/favicon-160x160.png" gap:platform="android" gap:density="mdpi" />
    <icon src="img/favicon-96x96.png" gap:platform="android" gap:density="hdpi" />
    <icon src="img/favicon-16x16.png" gap:platform="android" gap:density="xhdpi" />
    <icon src="img/favicon-32x32.png" gap:platform="android" gap:density="xxhdpi" />

    <icon src="img/mstile-144x144.png" gap:platform="winphone" />
    <icon gap:platform="winphone" gap:role="background" />

    <access origin="*"/>

</widget>


